<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="../../favicon.ico">

        <title>Enter Validation Key</title>

        <link href="{{asset('bundles/bookfairbookshop/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/bookfairbookshop/css/signin.css')}}" rel="stylesheet">
        <script src="{{asset('bundles/bookfairbookshop/js/ie-emulation-modes-warning.js')}}"></script>
        <script src="{{asset('bundles/bookfairbookshop/js/ie10-viewport-bug-workaround.js')}}"></script>

    </head>

    <body>

        <div class="container">

            <form class="form-signin" role="form" action="{{path('book_fair_register_key_check')}}" method="POST">
                Please enter your validation key <input type="text" name="vkey" class="form-control" placeholder="Validation Key" required autofocus>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
                
    </body>
</html>
