<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{asset('bundles/bookfairbookshop/images/icon.ico')}}">

        <title>Register</title>

        <link href="{{asset('bundles/bookfairbookshop/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/bookfairbookshop/css/signin.css')}}" rel="stylesheet">
        <script src="{{asset('bundles/bookfairbookshop/js/ie-emulation-modes-warning.js')}}"></script>
        <script src="{{asset('bundles/bookfairbookshop/js/ie10-viewport-bug-workaround.js')}}"></script>

    </head>

    <body>

        <div class="container">

            <form name="frm" class="form-signin" role="form" action="{{path('book_fair_register_adminacc', {'vkey':vkey})}}" method="POST" onsubmit="return checkForm()">
                <h2>Register as Administrator</h2>
                <br>

                <input type="hidden" name="vkey" value="{{vkey}}" class="form-control">
                
                Username:
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                Password:
                <input type="password" id="pass" name="password" class="form-control" placeholder="Password" required>
                Retype the password:
                <input type="password" id="c_pass" name="password" class="form-control" placeholder="Password" onblur="confirmPass()" required>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>

        </div> 
    </body>
    <script type="text/javascript">
        function confirmPass() {
            var pass = document.getElementById("pass").value
            var confPass = document.getElementById("c_pass").value
            if (pass !== confPass) {
                alert('Wrong confirm password !');
            }
        }
    </script>
</html>
